@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar {  /*contains the navbar, can be seen on all pages*/
    background-color: #586A6A;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    height: 10vh;
    width: 100%;
    border: 20px black;
}
.banner{ /*contains the content of our project*/
    background-color: #DAD4EF;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90w;
    height: 80vh;
}

.logo{ /* styles for the logo*/
    width:40px;
    height:40px;
    float: left;
    border-radius: 50%;
}
.logo img{ /* styles for the logo image*/
    width:40px;
    height:40px;
    border-radius: 50%;
    margin: 5px;
    padding-top: 5px;
}

#aboutus {
    background-color: #D4C5C7;
}
#aboutus a{
    color:  #505159;
}

#conclu{
    background-color: #D4C5C7;
}
#conclu a{
    color: #505159;
}
#quanti{
    background-color: #D4C5C7;
}
#quanti a{
    color:  #505159;
}

#quali{
    background-color: #D4C5C7;
}
#quali a{
    color:  #505159;
}

#intro{
    background-color: #D4C5C7;
}
#intro a{
    color:  #505159;
}

.links{ /*styles for the links in the navbar*/
    border-radius: 5%;
    margin-top: 25px;
    opacity: 0.7;
    transition: .4s;
    float: right;
    display: inline;
    font-family: 'Lucidia Consol';
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    margin-top: 20px;
}

.links:hover{
    opacity: 1;
    transition: .4s;
    font-size: larger;
    font-family: 'Lucidia Consol';
    color: #B9A394;
}

.links a{
     text-decoration: none;
}

#home{ /*styles for the home button on the navbar*/
    font-size: x-large;
}
#home a{
    color: #F3F3F3;
    font-family: 'Lucidia Consol';
    float: left;
    text-decoration: none;
}
.links1{
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 50px;
}

.introtext h1{ /*styles for the title on the index page*/
    color: #505159;
    font-size: 4em;
    text-align: left;
    font-family: Arial Black;
    margin-left: 25px;

}

.introtext p{ 
    color:#011936;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding-left: 25px;
    font-size: 25px;
}

.introtext a{ /*styles for the enter button*/
    text-decoration: none;
    display: inline-block;
    padding: 18px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #011936;
    margin-top: 15px;
    font-family: Arial Black;
    color: white;
    font-weight: 500px;
    font-size: 150%;
    margin-left: 25px;
    border-radius: 6%;
}
.introductiontext{ /*styles for the introduction on the study background page*/
    font-family: 'Ubuntu', sans-serif;
    color: #011936;
}
.introductiontext h2{
    margin-left: 40px;
    margin-right: 20px;
}
.introparagraph{
    font-size: 25px;
    height: 72.6vh;
    margin-left: 40px;
    margin-right: 20px;
    color: #011936;
    font-family: 'Times New Roman', Times, serif;
}
.qualititle{ /*styles for the qualitative data on the qualitative page*/
   color: #011936;
   font-size: medium;
}
.qualititle h2{
    margin-left: 40px;
    margin-right: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.qualititle p{
    margin-left: 40px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #011936;
    font-size: 20px;
}
.populations{ /*styles for the populations*/
    display: inline-flex;
    padding-left: 30px;
}
.populationtable{
    padding-left: 50px;
    padding-top: 15px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #011936;
}
.populationtable h5{
    text-align: center;
}

.populationbar{
    padding-left: 100px;
    padding-top: 15px;
    font-family: Verdana, Tahoma, sans-serif;
}
.populationbar p{
    color: #011936;
}
.populationbar h5{
    text-align: center;
    margin-right: 125px;
}
.populationpie{
    padding-top: 15px;
    font-family: Verdana, Tahoma, sans-serif;
}
.populationpie p{
    color: #011936;
}
.populationpie h5{
    text-align: center;
    margin-right: 90px;
}
.countries{ /*styles for the countries used in asia and europe*/
    display: inline-flex;
    padding-left: 30px;
    font-family: Verdana, Tahoma, sans-serif;
}
.countriestable{
    padding-left: 50px;
    padding-top: 20px;
}
.countriesbar{
    padding-left: 100px;
    padding-top: 20px;
}
.countriesbar p{
    color: #011936;
}
.countriespie{
    padding-top: 20px;
}
.countriespie p{
    color: #011936;
}
.quantititle h2{ /*styles for the quantitative data on the quantitative page*/
    font-family: 'Ubuntu', sans-serif;
    color: #011936;
    margin-left: 40px;
    margin-right: 20px;
}
.quantititle p{
    margin-left: 40px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #011936;
    font-size: 20px;
}
.fdts{ /*styles for the fdts*/
    display: inline-flex;
    margin-left: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #011936;
}
.histograms{ /*styles for the histograms*/
    display: inline-flex;
    margin-left: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #011936;
}
.mlehistogram{
    margin-right: 90px;
    padding-left: 30px;
    padding-right: 30px;
}
.flehistogram{
    padding-right: 190px;
}
.boxplots{ /*styles for the boxplots*/
    display: inline-flex;
    margin-left: 40px;
    font-family: Verdana, Tahoma, sans-serif;
    color: #011936;
}
.mleboxplot{
    margin-right: 90px;
    padding-left: 30px;
    padding-right: 0px;
}
.fleboxplot{
    padding-right: 100px;
    padding-left:5px;
}
.conclusion{ /*styles for the conclusion on the conclusion page*/
    height: 80vh;
}
.conclusiontext{
    font-size: 19px;
    margin-left: 40px;
    margin-right: 20px;
    text-align: left;
    color: #011936;
}
.conclusiontext h2{
    font-family: 'Ubuntu', sans-serif;
    color: #011936;
}
.references{ /*styles for the references on the conclusion page*/
    font-size: 16px;
    margin-left: 40px;
    margin-right: 20px;
    text-align: left;
    color: #011936;
}
.references h2{
    font-family: 'Ubuntu', sans-serif;
    color: #011936;
}

.aboutme{ /*styles for the about me on the the about us page*/
    display: inline-block; 
    width: 20vw; 
    margin-left: 15%;
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #011936;
    padding-top: 15px;  
}
.aboutme h3{
    font-family: 'Ubuntu', sans-serif;
    color: #011936;
}
.aboutme img{
    width: 13vw;
    height: 15vw;
    border: 5px solid #011936;
}
.myteam{ /*styles for the about my team on the the about us page*/
    width: 30vw;
    display: block;
    bottom: 0px;
    position: absolute;
    margin-left: 30%;
    padding-bottom: 10%;
    color: #011936;
}
.myteam p{
    text-align: left;
    color: #011936;
}
.myteam img{
    width: 15vw;
    height: 10vw;
    float: left;
} 
.footer{ /* contains the footer and is present on all the pages*/
    padding: 0px;
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: #586A6A;
    height: 50px;
    border: 20px black;
    margin-bottom: 0px;
    position: absolute;
    height: 10vh;
    width: 100%;
}
.socialmedias{ /*styles for the socmed div*/
    float: right;
    border: 0vh solid;
    padding: 13px;
    border-radius: 50%;  
    margin-right: 20px;
    margin-bottom: 30px;
}

.copyrights{ /*styles for the copyrights, present to all pages*/
    padding: 21px;
    float:left;
    color: #E6F8FF;
    font-family: Courier New;
}
.rounds{ 
    border-radius: 50%;
}